.main-chat
 .header
  .header__leftbox
   .header__leftbox--group hhh
   .header__leftbox--member jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
  =link_to "#", class: "header__edit-btn" do
   Edit
 .message-list
  .message-list__box
   .message-list__box--name
    %p1.name 吉田
    %p2.date 12/4(wed) 17:40:01
   .message-list__box--message hhhhhh
  .message-list__box
   .message-list__box--name
    %p1.name 吉田
    %p2.date 12/4(wed) 17:40:01
   .message-list__box--message hhhhhh
  .message-list__box
   .message-list__box--name
    %p1.name 吉田
    %p2.date 12/4(wed) 17:40:01
   .message-list__box--message hhhhhh
 .message-form
  .input-box
   %input.input-box__text
   %label.input-box__icon
    = icon('fas', 'image')
    %input.file{type: "file"}
  %input.submit-btn{:type => "submit", :value => "SEND"} 
    