.side
 .user-name
  .user-name__box
   %p.user-name__box--name 
    = current_user.name
   %ul.user-name__box--icon
    %li.edit-icon
     =link_to new_group_path, class: "contents__btn" do
      = icon('fas', 'edit')
    %li.cog-icon
     =link_to edit_user_path(current_user), class: "contents__btn" do
      = icon('fas', 'cog')
 .group-list
  .group-list__box
   .group-list__box--name aaa
   .group-list__box--message aaa
  
    

  