.main-chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  .header{
    height: 100px;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    &__leftbox{
      &--group{
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
        padding-bottom: 15px;
      }
      &--member{
        color: #999999;
        font-size: 12px;
      }
    }
    &__edit-btn{
      padding: 28px 0 20px;
      line-height: 40px;
      text-decoration: none;
    }
  }
  .message{
    background-color: #fafafa;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    &-box{
      margin-left: 40px;
      padding-bottom: 46px;
      .message-name{
        padding-bottom: 12px;
        &__user-name{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
        }
      }
      .message-message{
        color: #434A54;
        font-size: 14px;
      }
      
    }
  }
  .message-form{
    background-color: #d2d2d2;
    height: 90px;
    .new_message{
      display: flex;
      align-items: center;
      padding: 20px 40px;
      .input-box{  
        height: 50px;
        width: 100%;
        position: relative;
        .form__message{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
        }
        .image{
          position: absolute;
          top: 10px;
          right: 10px;
          .hidden{
            display: none;
          }
        }
      }
      .form__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;  
      }
    }

  }
}